{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order in order_collections %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.payment }}</td>
        <td>{{ order.order_cost }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
          {% if order.restaurants %}
          <details>
            <summary>{{ order.restaurant_text }}</summary>
            <ol>
              {% for restaurant in order.restaurants %}
                <li>{{ restaurant.restaurant_address }} - {{ restaurant.distance }}км</li>
              {% endfor %}
            </ol>
          </details>
          {% else %}
            {{ order.restaurant_text }}
          {% endif %}
        </td>
        <td>{{ order.comment }}</td>
        <td>
          <a href={{ order.url|add:"?next="|add:order.current_url }}>Редактировать</a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
